<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624999269579-mvrc6l023p8g4rfermosq4mfckknpr0u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624999269579-mvrc6l023p8g4rfermosq4mfckknpr0u</string>
	<key>API_KEY</key>
	<string>AIzaSyCda2CKNhtX0-glUKtNDSEHAzxGmyT4cxM</string>
	<key>GCM_SENDER_ID</key>
	<string>624999269579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>char-app-b03a2</string>
	<key>STORAGE_BUCKET</key>
	<string>char-app-b03a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624999269579:ios:3b4c5f0402e11af06c474e</string>
</dict>
</plist>